In [3]:
from bs4 import BeautifulSoup as bs 
import requests
from splinter import Browser

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

In [3]:
browser_1 = Browser('chrome', **executable_path, headless=False)
url_1 = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser_1.visit(url_1)
html_1 = browser_1.html
soup_1 = bs(html_1, 'html.parser')
# print(soup_1.prettify())

In [4]:
news_title = soup_1.find("div" , class_="content_title").text
news_title

'Mars Scientists Investigate Ancient Life in Australia'

In [5]:
news_para = soup_1.find("div" , class_="article_teaser_body").text
news_para

"Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. "

In [6]:
browser_2 = Browser('chrome', **executable_path, headless=False)
url_2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser_2.visit(url_2)
html_2 = browser_2.html
soup_2 = bs(html_2, 'html.parser')
# print(soup_2.prettify())

In [7]:
results = soup_2.find_all('a',class_="button fancybox" )
results
for result in results:
    url = result['data-fancybox-href']
    print(url)
    
    featured_img_url=('https://www.jpl.nasa.gov'+ url )
    print(featured_img_url )

/spaceimages/images/mediumsize/PIA17845_ip.jpg
https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17845_ip.jpg

In [8]:
browser_3 = Browser('chrome', **executable_path, headless=False)
url_3 = 'https://twitter.com/marswxreport?lang=en'
browser_3.visit(url_3)
html_3 = browser_3.html
soup_3 = bs(html_3, 'html.parser')
# print(soup_3.prettify())

In [7]:
weather = soup_3.find('div', class_="js-tweet-text-container")
weather_info = weather.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

weather_info = weather.p.text
splitweather = weather_info.split('pic.twitter.com/')
mars_weather = splitweather[0]
mars_weather

'InSight sol 344 (2019-11-15) low -99.9ºC (-147.9ºF) high -23.3ºC (-9.9ºF)\nwinds from the SSE at 5.7 m/s (12.9 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 6.80 hPa'

In [18]:

# browser_4 = Browser('chrome', **executable_path, headless=False)
url_4 = "https://space-facts.com/mars/"
browser_4.visit(url_4)
html_4 = browser_4.html
soup_4 = bs(html_4, 'html.parser')
# print(soup_4.prettify())

In [19]:
soup_4.table

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table>

In [34]:
import pandas as pd
tables = pd.read_html(url_4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [35]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
df.columns = ["description","value"]
df

            description                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [37]:
mars_table = df.set_index("description")
mars_table

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [38]:
html_table = mars_table.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [39]:
html_table_string = html_table.replace("\n","")
html_table_string

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th>description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [58]:
cerberus_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
schiaparelli_url  ='https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
syrtis_url ='https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
valles_url='https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'

cerberus = requests.get(cerberus_url)
cerberus_soup = bs(cerberus.text, "lxml")
# cerberus_soup
schiaparelli = requests.get(schiaparelli_url)
schiaparelli_soup = bs(schiaparelli.text, "lxml")

syrtis = requests.get(syrtis_url)
syrtis_soup = bs(syrtis.text, "lxml")

valles = requests.get(valles_url)
valles_soup = bs(valles.text, "lxml")

In [59]:
print(cerberus_soup.find('h2', class_="title").text)
print(schiaparelli_soup.find('h2', class_="title").text)
print(syrtis_soup.find('h2', class_="title").text)
print(valles_soup.find('h2', class_="title").text)

Cerberus Hemisphere Enhanced
Schiaparelli Hemisphere Enhanced
Syrtis Major Hemisphere Enhanced
Valles Marineris Hemisphere Enhanced

In [60]:
cer_results = cerberus_soup.find_all('div', class_="wide-image-wrapper")
sch_results = schiaparelli_soup.find_all('div', class_="wide-image-wrapper")
syr_results = syrtis_soup.find_all('div', class_="wide-image-wrapper")
val_results = valles_soup.find_all('div', class_="wide-image-wrapper")

In [61]:
for item in cer_results:
    if (item.li):
        if(item.li.a):
            url = (item.li.a)
            img_url = (url.get("href"))
            print(img_url)
            
for item in sch_results:
    if (item.li):
        if(item.li.a):
            url = (item.li.a)
            img_url = (url.get("href"))
            print(img_url)
            
for item in syr_results:
    if (item.li):
        if(item.li.a):
            url = (item.li.a)
            img_url = (url.get("href"))
            print(img_url)
            
for item in val_results:
    if (item.li):
        if(item.li.a):
            url = (item.li.a)
            img_url = (url.get("href"))
            print(img_url)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

cerberus_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
schiaparelli_url  ='https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
syrtis_url ='https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
valles_url='https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'

hemisphere_image_urls=[]
mars_hemispheres_urls  = [cerberus_url, schiaparelli_url, syrtis_url, valles_url]
for hemisphere_url in mars_hemispheres_urls:
    browser.visit(hemisphere_url)
    html = browser.html
    hemisphere_soup = bs( html , 'lxml')
    title = hemisphere_soup.find('h2', class_="title").text
    hem_results = hemisphere_soup.find_all('div', class_="wide-image-wrapper")
    for item in hem_results:
        if (item.li):
            if(item.li.a):
                url = (item.li.a)
                img_url = (url.get("href"))
                post = {"title":title , "img_url":img_url}
                hemisphere_image_urls.append(post)

                
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [62]:
hemisphere_image_urls=[]

mars_hemispheres_urls  = [cerberus_url, schiaparelli_url, syrtis_url, valles_url]

for hemisphere_url in mars_hemispheres_urls:
    hemisphere =  requests.get(hemisphere_url)
    hemisphere_soup = bs(hemisphere.text, "lxml")
    title = hemisphere_soup.find('h2', class_="title").text
    print(title)
    hem_results = hemisphere_soup.find_all('div', class_="wide-image-wrapper")
    for item in hem_results:
        if (item.li):
            if(item.li.a):
                url = (item.li.a)
                img_url = (url.get("href"))
                print(img_url)
                
                post = {"title":title , "img_url":img_url}
                
                hemisphere_image_urls.append(post)

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [63]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]